body {
  background: url(http://www.dvd-ppt-slideshow.com/images/ppt-background/background-15.jpg);
  text-align: center;
}
h1 {
  color: blue;
}
h3 {
  color: #008080;
}

button {
  color: #804000;
  border-radius: 5px;
}
